In [1]:
import os

if 'notebook' in os.getcwd():
    os.chdir('..')
os.listdir('data')

['ind49_m_vw_rets.csv',
 'F-F_Research_Data_Factors_daily.CSV',
 'sample_prices.csv',
 'ind30_m_vw_rets.csv',
 'Portfolios_Formed_on_ME_monthly_EW.csv',
 'ind30_m_size.csv',
 'ind30_m_nfirms.csv',
 'ind49_m_ew_rets.csv',
 'F-F_Research_Data_Factors_m.csv',
 'F-F_Research_Data_Factors.CSV',
 'ind30_m_ew_rets.csv',
 'brka_d_ret.csv',
 'ind49_m_nfirms.csv',
 'ind49_m_size.csv',
 'BRK-A.csv',
 'edhec-hedgefundindices.csv']

## Calc annualized returns of Lo20 through entire period


Read in the data in the file “Portfolios_Formed_on_ME_monthly_EW.csv” as we did in the lab sessions.We performed a series of analysis on the ‘Lo 10’ and the ‘Hi 10’ columns which are the returns of the lowest and highest decile portfolios. For purposes of this assignment, we will use the lowest and highest quintile portfolios, which are labelled ‘Lo 20’ and ‘Hi 20’ respectively.

1. What was the Annualized Return of the Lo 20 portfolio over the entire period?
2. What was the Annualized Volatility of the Lo 20 portfolio over the entire period? 
3. What was the Annualized Return of the Hi 20 portfolio over the entire period?     
4. What was the Annualized Volatility of the Hi 20 portfolio over the entire period ?

In [78]:
import pandas as pd

rets = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", index_col=0)
rets.index = pd.to_datetime(rets.index, format="%Y%m")
rets = rets.loc[:,['Lo 20', 'Hi 20']]
# rets = rets.loc['1999':'2015']
rets = rets/100
rets.head()

             Lo 20   Hi 20
1926-07-01 -0.0057  0.0333
1926-08-01  0.0384  0.0233
1926-09-01 -0.0048 -0.0009
1926-10-01 -0.0329 -0.0295
1926-11-01 -0.0055  0.0316

Annualized returns

In [81]:
returns_per_month = ((rets+1).prod())**(1/len(rets)) - 1
annualized_returns = (returns_per_month + 1)**12 -1
annualized_returns.round(4)

Lo 20    0.1520
Hi 20    0.0985
dtype: float64

Annualized volatility

In [82]:
annualized_volatility = rets.std()*(12**0.5)
annualized_volatility.round(4)

Lo 20    0.3367
Hi 20    0.1951
dtype: float64

## Calc Returns & Volatility in 1999-2015

1. What was the Annualized Return of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)? 
2. What was the Annualized Volatility of the Lo 20 portfolio over the period 1999 - 2015 (both inclusive)? 
3. What was the Annualized Return of the Hi 20 portfolio over the period  1999 - 2015 (both inclusive)?
4. What was the Annualized Volatility of the Hi 20 portfolio over the period 1999 - 2015 (both inclusive)?

In [83]:
import pandas as pd

rets = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", index_col=0)
rets.index = pd.to_datetime(rets.index, format="%Y%m")
rets = rets.loc[:,['Lo 20', 'Hi 20']]
rets = rets.loc['1999':'2015']
rets = rets/100
rets.head()

             Lo 20   Hi 20
1999-01-01  0.1114  0.0153
1999-02-01 -0.0399 -0.0172
1999-03-01 -0.0308  0.0368
1999-04-01  0.0824  0.0679
1999-05-01  0.0435 -0.0048

Annualized returns

In [84]:
returns_per_month = ((rets+1).prod())**(1/len(rets)) - 1
annualized_returns = (returns_per_month + 1)**12 -1
annualized_returns.round(4)

Lo 20    0.1144
Hi 20    0.0629
dtype: float64

Annualized volatility

In [37]:
annualized_volatility = rets.std()*(12**0.5)
annualized_volatility.round(4)

Lo 20    0.2289
Hi 20    0.1727
dtype: float64

## Calc Drawdowns
1. What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the SmallCap (Lo 20) portfolio?
2. At the end of which month over the period 1999-2015 did that maximum drawdown on the SmallCap (Lo 20) portfolio occur? 
3. What was the Max Drawdown (expressed as a positive number) experienced over the 1999-2015 period in the LargeCap (Hi 20) portfolio?
4. Over the period 1999-2015, at the end of which month did that maximum drawdown of the LargeCap (Hi 20) portfolio occur?

In [86]:
import pandas as pd

def drawdown(return_series: pd.Series):
    """Takes a time series of asset returns.
       returns a DataFrame with columns for
       the wealth index, 
       the previous peaks, and 
       the percentage drawdown
    """
    wealth_index = 1000*(1+return_series).cumprod()
    previous_peaks = wealth_index.cummax()
    drawdowns = (wealth_index - previous_peaks)/previous_peaks
    return pd.DataFrame({"Wealth": wealth_index, 
                         "Previous Peak": previous_peaks, 
                         "Drawdown": drawdowns})

Low Cap

In [89]:
steepest_dd = drawdown(rets.loc[:,'Lo 20']).Drawdown.min()
display(steepest_dd.round(4))
display(rets[drawdown(rets.loc[:,'Lo 20']).Drawdown == steepest_dd])

-0.6248

             Lo 20   Hi 20
2009-02-01 -0.1144 -0.1095

High cap

In [90]:
steepest_dd = drawdown(rets.loc[:,'Hi 20']).Drawdown.min()
display(steepest_dd.round(4))
display(rets[drawdown(rets.loc[:,'Hi 20']).Drawdown == steepest_dd])

-0.5527

             Lo 20   Hi 20
2009-02-01 -0.1144 -0.1095

## Semideviation and VaR
1. For the remaining questions, use the EDHEC Hedge Fund Indices data set that we used in the lab assignment and load them into Python. Looking at the data since 2009 (including all of 2009) through 2018 which Hedge Fund Index has exhibited the highest semideviation?     
2. Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has exhibited the lowest semideviation?   
3. Looking at the data since 2009 (including all of 2009) which Hedge Fund Index has been most negatively skewed?     
4. Looking at the data since 2000 (including all of 2000) through 2018 which Hedge Fund Index has exhibited the highest kurtosis?

In [91]:
def semideviation3(r):
    """
    Returns the semideviation aka negative semideviation of r
    r must be a Series or a DataFrame, else raises a TypeError
    """
    # Demean returns
    excess= r-r.mean()                                   
    # Take returns below mean
    excess_negative = excess[excess<0]                   
    # Square demeaned returns below the mean
    excess_negative_square = excess_negative**2          
    # number of returns under the mean
    n_negative = (excess<0).sum()                        
    return (excess_negative_square.sum()/n_negative)**0.5

In [92]:
import pandas as pd
import scipy.stats

rets = pd.read_csv("data/edhec-hedgefundindices.csv", index_col=0)
rets.index = pd.DatetimeIndex(rets.index)
# rets = rets.loc[:,['Lo 20', 'Hi 20']]
rets = rets.loc['2009':'2018']
rets = rets/100
rets.head()

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01-31,0.0491,-0.0016,0.0082,-0.0112,0.0079,0.0132,0.0112,0.0029,-0.0017,0.0056,0.0100,0.0282,0.0060
2009-02-28,0.0164,-0.0031,-0.0122,-0.0133,-0.0046,-0.0091,0.0065,-0.0055,-0.0161,0.0006,-0.0016,0.0328,-0.0037
2009-03-31,0.0235,-0.0180,0.0022,0.0350,0.0021,0.0117,0.0057,0.0048,0.0188,0.0125,0.0100,-0.0462,0.0008
2009-04-30,0.0500,-0.0140,0.0387,0.0663,-0.0012,0.0337,0.0221,0.0127,0.0375,0.0081,0.0342,-0.0820,0.0092
2009-05-31,0.0578,0.0213,0.0504,0.0884,0.0146,0.0442,0.0365,0.0348,0.0516,0.0107,0.0392,0.0008,0.0312

Short selling has the steepest semideviation

In [95]:
rets.aggregate(semideviation3).sort_values().tail(1)

Short Selling    0.031207
dtype: float64

Fixed Income arbitrage has the lowest semideviation.

In [99]:
rets.aggregate(semideviation3).sort_values().head(1)

Fixed Income Arbitrage    0.00649
dtype: float64

Equity market neutral has the most negative skew.  
The mean is less than the median, therefore most return values are higher than the mean.

In [98]:
rets.aggregate(scipy.stats.skew).sort_values().head(1)

Equity Market Neutral   -0.896327
dtype: float64

Fixed income arbitrage has the highest kurtosis during this period.  
Their return distribution has a fat tail.

In [102]:
import pandas as pd

rets = pd.read_csv("data/edhec-hedgefundindices.csv", index_col=0)
rets.index = pd.DatetimeIndex(rets.index)
# rets = rets.loc[:,['Lo 20', 'Hi 20']]
rets = rets.loc['2000':'2018']
rets = rets/100
rets.head()

import scipy.stats
rets.aggregate(scipy.stats.kurtosis).sort_values().tail(1)

Fixed Income Arbitrage    30.378729
dtype: float64

15.20  
33.67  
9.85  
19.51  
11.44  
22.89  
6.29  
17.27  
62.48  
2009-02  
55.27  
2009-02  
Short Selling  
Fixed Income Arbitrage  
Equity Market Neutral  
Fixed Income Arbitrage